@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

*{ font-family:'Josefin Sans'; }

/* Main Cointainers */
#navgroup {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 20%;
}

#nav1 {
  height: 40%;
}

#nav1 .d-flex{
  padding-left: 10px;
  padding-right: 40px;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#nav2 {
  height: 20%;
  background-color: #1E1E4A;
}

#nav3 {
  letter-spacing: 1px;
  height: 40%;
}

#nav3 .d-flex {
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0rem;
  padding-right: 0.05rem;
}

#nav3 button {
  height: 50px;
  width: 220px;
}

#nav3 img {
  margin-bottom: 20px;
}

#sidenav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20%;
  height: 100%;
  width: 16%;
  z-index: 1;
  font-size: small;
  letter-spacing: 2px;
}

#content {
  max-width: 84%;
  position: fixed;
  top: 20%;
  left: 16%;
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
  overflow-y: scroll;
  padding-left: 4%;
  padding-top: 5%;
  padding-bottom: 20%;
}

/* Bootstrap adjustments */
.nav-pills {
  margin-top: 20%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #1E1E4A;
  color: #37DCD8;
  padding-left: 12%;
}

.nav-pills .nav-link{
  border-radius: 0rem;
  padding: 15%;
  text-align: left;
  color: black;
}

.modal-content {
  background-color: #1E1E4A;
  color: white;
}

.btn-primary {
  color: #1E1E4A;
  background-color: white;
  border: 2px solid transparent;
  border-color: #37DCD8;
}

.btn-primary:hover {
  background-color: #37DCD8;
  border-color: #37DCD8;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #37DCD8;
    border-color: #37DCD8;
    box-shadow: 0 0 0 0.2rem #37dcd8;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #37dcd8;
}

.btn-outline-secondary {
  color: white;
  border-color: #37DCD8;
}

.btn-outline-secondary:hover {
  background-color: #37DCD8;
  border-color: #37DCD8;
}

.btn-outline-secondary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #37DCD8;
    border-color: #37DCD8;
    box-shadow: 0 0 0 0.2rem #37dcd8;
}

.btn-outline-secondary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #37dcd8;
}


.btn-secondary:hover {
  background-color: #37DCD8;
  border-color: black;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #37DCD8;
    border-color: black;
    box-shadow: 0 0 0 0.2rem #37dcd8;
}

.btn-secondary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #37dcd8;
}

.btn-secondary {
  font-family:'Josefin Sans';
  font-weight:700;
  letter-spacing: 2px;
  padding: 0.8rem;
  color: #1E1E4A;
  background-color: #37DCD8;
  border-color: #37DCD8;
  font-size: 0.7rem;
}

.container {
  padding-left: 0px;
  padding-right: 10%;
  margin: 0px;
}

.modal-content .col-12 {
  text-align: center;
}

.modal-dialog {
  max-width: 600px;
  margin: 20% 22% 1% 35%;
}

.modal-header {
  padding: 30px;
  border-bottom: 0px;
}

.modal-title {
  margin-top: 20px;
  font-size: 1.6rem;
}

.modal-body {
  font-size:12px;
  text-align: justify;
  margin-top: -50px;
  padding-top: 0px;
  padding: 15px 30px 0px 30px;
}

.modal-footer {
  border-top: 0px;
  padding-bottom: 50px;
}

.modal-footer .col-6 button{
  height: 50px;
  width:100%;
}

.modal-content .col-12 {
  font-family: 'Josefin Sans';
  font-weight:300;
  letter-spacing: 2px;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgba(67, 220, 215, 0.22);
}

#approveCb {
  font-size: .75rem;
  padding: .6rem 1.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#time {
  font-size: 36px;
  color: #37DCD8;
}

#allowance {
  font-family: 'Josefin Sans';
  font-weight:300;
  letter-spacing: 2px;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgba(67, 220, 215, 0.22);
}

#vote-content {
  margin-left: 6%;
  margin-top: 3%;
}

#reset-content {
  margin-left: 6%;
  margin-top: -3%;
}

#reset-content .list-group-item {
  font-size: 0.8rem;
  padding: 0.4rem;
  color: #37DCD8;
  background-color: #1E1E4A;
  margin-bottom: 5px;
  word-break: break-all;
  border-radius: 0.2rem;
}

#reset-content .list-group-item span{
  color: white;
}

#reset-content .list-group {
  margin-left: 5%;
  width: 62%;
}

#reset-content .col-6 button {
  margin-left: 70%;
}
